<div class="o-message o-message--inform energy-source-promo" data-n-messaging-component="" data-o-message-auto-open="true" data-close="true" data-state="initial" role="region" aria-live="polite" data-trackable="energy-source-promo">
	<div class="o-message__container">
		<div class="energy-source-promo__content energy-source-promo__content--initial">
			<div class="energy-source-promo__copy">
				<h2 class="energy-source-promo__title">Energy Source</h2>
				<p class="energy-source-promo__blurb hidden-mobile">
					Get our Premium newsletter on all aspects of the world’s most vital business, from oil prices to renewables, delivered twice weekly.
				</p>
				<p class="energy-source-promo__blurb hidden-desktop">
					Delivered twice weekly
				</p>
			</div>
			<div class="energy-source-promo__img-container">
				<img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fmessages%2Fenergy-source-message.png?source=n-messaging-client" alt="Promotion for Financial Times' Energy Source newsletter" width="121">
			</div>
			<div class="energy-source-promo__actions">
				<button class="energy-source-promo__btn" data-o-message-action="subscribe" data-trackable="newsletter-subscribe">Get the newsletter</button>
			</div>
		</div>
		<div class="energy-source-promo__content energy-source-promo__content--success hidden">
			<div class="energy-source-promo__copy">
				<p class="energy-source-promo__blurb">You’ve subscribed to the Energy Source Newsletter</p>
			</div>
			<a href="https://www.ft.com/newsletters" class="energy-source-promo__btn hidden-desktop" data-trackable="explore-newsletters">Explore all newsletters</a>
		</div>
		<div class="energy-source-promo__content energy-source-promo__content--error hidden">
			<div class="energy-source-promo__copy">
				<span class="energy-source-promo__blurb">We couldn’t subscribe you to Energy Source at this time</span>
			</div>
			<a href="https://www.ft.com/newsletters" class="energy-source-promo__btn" data-trackable="explore-newsletters">Explore all newsletters</a>
		</div>
		<button class="o-message__close" aria-label="close" title="Close"></button>
	</div>
</div>
