<div data-n-messaging-component>
	<div class="o-message o-message--notice o-message--pikachu n-messaging-nba" data-o-component="o-message">
		<div class="o-message__container">
			<!-- placeholder & invisible content rendered server-side to take up space -->
			<div class="o-message__content n-messaging-nba__content--placeholder">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						GET RELEVANT NEWS STRAIGHT TO YOUR INBOX.
					</span>
					Sign up for the
					<span class="o-message__content-highlight o-message__content-highlight-color">
						Lex - Europe morning edition
					</span>
					newsletter.
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Get the newsletter</a>
				</div>
			</div>
			<!-- actual content to be loaded & rendered client-side -->
			<div class="o-message__content n-messaging-nba__content--actual n-messaging-nba__content--hidden" data-n-messaging-nba-actual-content>
				<p class="o-message__content-main" data-n-messaging-nba-text></p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary" data-n-messaging-nba-cta></a>
				</div>
			</div>
		</div>
	</div>
</div>
