<div data-n-messaging-component>
	<div class="o-message o-message--notice o-message--pikachu n-messaging-nba" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content n-messaging-nba__content--placeholder">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						GET RELEVANT NEWS STRAIGHT TO YOUR INBOX.
					</span>
					Sign up for the
					<span class="o-message__content-highlight o-message__content-highlight-color">
						Lex - Europe morning edition
					</span>
					newsletter.
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Get the newsletter</a>
				</div>
			</div>
			<div class="o-message__content n-messaging-nba__content--actual">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						Get the edge with fastFT.
					</span>
					See a Live feed of market-moving news with informed comment. 24 hours a day.
				</p>
				<div class="o-message__actions">
					<a href="#" class="o-message__actions__primary">Visit fastFT</a>
				</div>
			</div>
		</div>
	</div>
</div>
