// FIXME move this into n-messaging-nba and rename pikachu to slate-lemon
@include oMessageAddState(
	$name: 'pikachu',
	$opts: (
	'background-color': 'slate',
	'foreground-color': 'white',
	'highlight-color': 'lemon',
	'button-type': 'primary'
), $types: ('action'));

.n-messaging-nba {
	@include oButtons($opts: (
		'sizes': (),
		'types': ('primary'),
		'themes': ('inverse'),
		'icons': ('share'),
		'pagination': false,
		'groups': false
	));

	.n-messaging-nba__content {
		&--placeholder {
			visibility: hidden;
		}
		&--actual {
			position: absolute;
			top: 0;
		}
		&--hidden {
			display: none;
		}

	}
	.n-messaging-nba__view--hidden {
		display: none;
	}
}
