.n-messaging-nba {

	// note: this needs greater specificity than oButtons mixin below (to override inverse theme)
	@include oMessageAddState(
		$name: 'slate-lemon',
		$opts: (
		'background-color': 'slate',
		'foreground-color': 'white',
		'highlight-color': 'lemon',
		'button-type': 'primary'
	), $types: ('action'));

	// icon in the click-to-action button
	@include oButtons($opts: (
		'sizes': (),
		'types': ('primary'),
		'themes': ('inverse'), // yields a white icon which goes nicely with slate-lemon theme
		'icons': ('share'),
		'pagination': false,
		'groups': false
	));

	.n-messaging-nba__content {
		&--placeholder {
			visibility: hidden;
		}
		&--actual {
			position: absolute;
			top: 0;
		}
		&--hidden {
			display: none;
		}

	}

	.n-messaging-nba__view--hidden,
	.n-messaging-nba__action--hidden {
		display: none;
	}
}
