.n-messaging-client-messaging-banner--marketing-popup-prompt {
	.o-banner__outer {
		.o-banner__inner {
			background-color: oColorsByName('slate');
			color: oColorsByName('white');

			.n-messaging-banner__heading:after {
				border-color: oColorsByName('wasabi');
			}

			.o-banner__action {
				.o-banner__button {
					background-color: oColorsByName('white');
					color: oColorsByName('black');
				}
			}
		}
	}
}
