<div class="n-message-notice o-message o-message--notice  o-message--inform o-message--slate-lemon" data-o-component="o-message" data-n-messaging-component="">
	<div class="o-message__container">
		<div class="o-message__content">
			<div class="o-message__content-main">
				<div>
					<p>
						<span class="n-message-notice__title">
							Coronavirus <span class="o-message__content-highlight">business&nbspupdate</span>
						</span>
						<span class="n-message-notice__subtitle n-message-notice__subtitle--long">
							Get 30 days&rsquo; complimentary access to our Coronavirus Business Update newsletter
						</span>
						<span class="n-message-notice__subtitle n-message-notice__subtitle--short">
							30 days complimentary
						</span>
					</p>
				</div>
				<div>
					<img class="n-message-notice__image" src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fmessages%2Fcorona-message-desktop.png?source=npm%3A%40financial-times%2Fn-messaging-client" alt="Promotion for Financial Times' Coronavirus Business Update newsletter explaining the Coronavirus' impact on the global financial markets" width="150">
				</div>
			</div>
			<div class="o-message__actions">
				<a href="https://www.ft.com/newsletter-signup/coronavirus?segmentId=5a2ecc7c-f349-715e-f2c4-ce657532f71c" class="o-message__actions__primary" data-trackable="coronavirus-newsletter-promo-top" data-o-message-action="">Get the newsletter now</a>
			</div>
		</div>
	</div>
</div>
