@import "o-message/main";
@import "o-typography/main";

@include oMessageAddState(
	$name: 'slate-lemon',
	$opts: (
	'background-color': 'lemon',
	'foreground-color': 'slate',
	'highlight-color': 'slate',
	'button-type': 'primary',
), $types: ('notice'));


.o-message.n-message-notice {
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fmessages%2Fcorona-message-mobile.png?source=npm%3A%40financial-times%2Fn-messaging-client");
	background-repeat: no-repeat;
	background-position: 100% 100%;

	.o-message__content {
		margin: 0 auto;

		@include oGridRespondTo(L) {
			width: 73%;
		}
	}

	.n-message-notice__image {
		display: none;
		vertical-align: top;

		@include oGridRespondTo(M) {
			display: inline-block;

			margin-left: oSpacingByName('s4');
		}
	}

	@include oGridRespondTo(M) {
		background-image: none;
	}

	.n-message-notice__title {
		display: inline-block;
		padding-top: oSpacingByName('s4');

		text-transform: uppercase;
		@include oTypographySans($scale: 2);

		@include oGridRespondTo(M) {
			@include oTypographySans($scale: 3);
		}
	}

	.n-message-notice__subtitle {
		display: inline-block;
		padding-bottom: oSpacingByName('s4');

		@include oTypographySans($scale: 1);

		@include oGridRespondTo(M) {
			@include oTypographySans($scale: 2);
		}

		&--short {
			@include oGridRespondTo(M) {
				display: none;
			}
		}

		&--long {
			display: none;

			@include oGridRespondTo(M) {
				display: inline;
			}
		}
	}

	.o-message__content {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include oGridRespondTo(M) {
			flex-direction: row;
			align-items: center;
		}

		.o-message__actions {
			padding: 0;

			margin-bottom: oSpacingByName('s4');

			@include oGridRespondTo(M) {
				margin-bottom: 0;
			}
		}
	}

	.o-message__actions {
		flex-shrink: 0;
	}

	.o-message__content-main {
		display: flex;
		align-items: center;

		margin-top: 0;
		margin-bottom: 0;

		p {
			display: flex;
			flex-direction: column;

			margin: 0;
		}
	}
}
