<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--coronavirus">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		themePikachu=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1><span class="n-messaging-coronavirus__highlight-regular">CORONAVIRUS</span> <span class="n-messaging-coronavirus__highlight-color">BUSINESS UPDATE</span></h1>
			</header>
			<p>Get a level-headed briefing with expert input on how markets, global business and our workplaces are being affected, delivered straight to your inbox.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://ep.ft.com/newsletters/5e67775d8bb28f00049b0f76/subscribe"
					class="o-banner__button">Get the newsletter</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
