<div class="n-messaging-client-messaging-banner">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		renderOpen=true
		suppressCloseButton=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>KPMG Cancellation</h1>
			</header>
			<p>
				KPMG has decided not to renew their enterprise subscription to FT.com for all UK employees.
				From 1st April 2020, access will only be available for employees from selected teams.
			</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://enterprise.ft.com/en-gb/kpmg-cancellation-notice/" class="o-banner__button">
					Keep my access
				</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
