<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--newsletter-model-promo">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeSlateLemon=true
		renderOpen=true
		small=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content" data-n-messaging-newsletter-model-promo-header-body>
			<header class="o-banner__heading" data-n-messaging-newsletter-model-promo-header></header>
			<div class="o-banner__content-main" data-n-messaging-newsletter-model-promo-body></div>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="#" class="o-banner__button"  data-n-messaging-newsletter-model-promo-cta-action></a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
