<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--tbybposttrialsubscribe">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeSlateLemon=true
		renderOpen=true
		small=true
		closeLabel="Close the 'Continue reading with a subscription' banner"
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1><span class="n-messaging-tbybposttrialsubscribe__highlight-regular">Continue reading with a subscription</span></h1>
			</header>
			<p>We hope you enjoyed your free trial, and now that it’s over we’re offering you a <span class="n-messaging-tbybposttrialsubscribe__highlight-color">33% discount</span> on the regular subscription, so you can continue reading great content.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://subs.ft.com/continueyouraccess"
					class="o-banner__button">Subscribe to the FT</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
