<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--tbybintrialsubscribe">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeSlateLemon=true
		renderOpen=true
		small=true
		closeLabel="Close the 'Enjoying the free trial?' banner"
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1><span class="n-messaging-tbybintrialsubscribe__highlight-regular">Enjoying the free trial?</span></h1>
			</header>
			<p>Your free trial is about to run out. To continue to read articles on the FT, subscribe now and get a <span class="n-messaging-tbybintrialsubscribe__highlight-color">33% discount</span> on the regular subscription.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://subs.ft.com/continueyouraccess"
					class="o-banner__button">Subscribe to the FT</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
