.n-messaging-client-messaging-banner--remaining-articles {
	text-align: center;
	.o-banner__content {
		p {
			padding-bottom: oSpacingByName('s2');
			@include oTypographySerif(3);

			.remaining-articles__counter {
				@include oTypographySerif(
					$scale: 6,
					$include-font-family: false,
				);
			}
		}

		a {
			@include oTypographySans(0);
		}
	}

	.o-banner__inner {
		max-width: 100%;
		padding: oSpacingByName('s6') 0;
	}
}
