@import "o-colors/main";
@import "o-grid/main";
@import "o-buttons/main";

@include oGridAddLayout(
	$layout-name: XS,
	$layout-width: 320px
);

.energy-source-promo {
	/***** Structure and custom styles *****/
	/**
	 * 1. Using !important to override Origami styles
	 */
	background-color: oColorsByName('slate') !important; // [1]
	color: oColorsByName('white') !important; // [1]

	&__content {
		position: relative;

		@include oGridRespondTo($from: M) {
			display: flex;
			flex-direction: row;
		}
	}

	/**
	 * 1. Make room for the image
	 */
	&__copy {
		margin-bottom: 16px;

		@include oGridRespondTo($from: M) {
			width: calc(100% - 121px); // [1]
			max-width: 517px;
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
		margin: 0 0 3px;

		@include oGridRespondTo($from: M) {
			font-size: 24px;
			line-height: 1.16;
		}
	}

	&__blurb {
		font-size: 16px;
		line-height: 1.0625;
		margin: 0;

		@include oGridRespondTo($from: M) {
			font-size: 20px;
			line-height: 1.1;
		}
	}

	/**
	 * 1. -4px (because image wasn't cropped properly) minus 20px to due to
	 *    bottom padding of .o-message__container
	 * 2. Hide on really small layouts
	 */
	&__img-container {
		position: absolute;
		right: 0;
		bottom: -24px; // [1]

		@include oGridRespondTo($until: XS) {
			display: none; // [2]
		}

		@include oGridRespondTo($from: S) {
			display: block;
		}

		@include oGridRespondTo($from: M) {
			display: block;
			position: relative;
			align-self: flex-end;
			flex-grow: 1;
			text-align: center;
			bottom: 0;
		}

		& > img {
			@include oGridRespondTo($from: M) {
				margin-bottom: -24px; // [1]
			}
		}
	}

	&__actions {
		@include oGridRespondTo($from: M) {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			text-align: right;
			padding-right: 26px;
		}
	}

	/**
	 * 1. Keep text on one line
	 */
	&__btn {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': 'inverse',
			'size': 'big'
		));

		white-space: pre; // [1]
	}

	/***** Utility classes *****/
	.hidden {
		display: none !important;
	}

	.hidden-mobile {
		@include oGridRespondTo($until: M) {
			display: none;
		}
	}

	.hidden-desktop {
		@include oGridRespondTo($from: M) {
			display: none;
		}
	}

	/***** Origmami overrides *****/
	.o-message__container {
		max-width: 980px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/**
	 * 1. Reset margin-bottom, as the margin is now applied to
	 *    .n-messaging-client-energy-source-promo__copy element
	 * 2. Using !important to override Origami selector
	 */
	.o-message__content-main {
		width: 100%;
		margin-bottom: 0 !important; // [1]

		@include oGridRespondTo($from: M) {
			display: flex !important; // [2]
			flex-direction: row;
		}
	}

	.o-message__close {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:cross?source=n-messaging-client&tint=%23ffffff,%23ffffff&format=svg") !important;
	}

	/***** states *****/
	&[data-state="initial"] {
		.o-message__close {
			display: none;
		}
	}

	&[data-state="success"] {
		.o-message__close {
			display: inline-block;
		}

		.energy-source-promo__content--success {
			display: block;
			padding-left: 47px;
			background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=n-messaging-client&tint=%23ffffff,%23ffffff&format=svg");
			background-repeat: no-repeat;
			background-size: 32px;
			background-position-y: -9px;

			@include oGridRespondTo($from: M) {
				background-image: none;
				padding-left: 0;
			}
		}
	}

	&[data-state="error"] {
		.o-message__close {
			display: inline-block;
		}

		.energy-source-promo__content--error {
			display: block;
			padding-left: 47px;
			background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:warning?source=n-messaging-client&tint=%23ffffff,%23ffffff&format=svg");
			background-repeat: no-repeat;
			background-size: 32px;
			background-position-y: -9px;
		}

		/**
		 * 1. On the error state, put a bottom margin on the copy element at
		 *    all screen sizes. Overrides line 36
		 */
		.energy-source-promo__copy {
			margin-bottom: 16px !important; // [1]
		}
	}
}
