// mobile CSS
.o-banner.o-banner--small .n-messaging-daily-digest {
	&--hidden {
		display: none;
	}

	&--back {
		padding-left: 5px; // overrides o-banner's gutter as tick icon itself has lots of gutter
		.o-banner__content {
			display: flex;
			align-items: center;
			&:before {
				@include oIconsContent(
					$icon-name: 'tick',
					$color: oColorsMix('black', 'jade', $percentage: 43),
					$size: 60
				);
				content: '';
				position: absolute;
				width: 60px;
			}
			p {
				padding-left: 65px;
			}
		}
		.o-banner__content--long {
			display: none;
		}
		.o-banner__actions {
			margin-left: 65px;
		}
	}

}

// desktop CSS (overides mobile CSS)
@include oGridRespondTo($from: M) {
	.o-banner.o-banner--small .n-messaging-daily-digest {
		&--back {
			.o-banner__content--short {
				display: none;
			}
			.o-banner__content--long {
				display: flex;
				&:before {
					@include oIconsContent(
						$icon-name: 'tick',
						$color: oColorsMix('black', 'jade', $percentage: 43),
						$size: 80
					);
				}
				p {
					padding-left: 85px;
				}
			}
			.o-banner__actions {
				margin-left: 85px;
			}
		}
	}
}
